* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  display: grid;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
}

main {
    display: grid;
  align-items: center;
  justify-content: center;
  width: 70vw;
  margin: 2vh;
  padding: 2em;
}

main:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

h6 {
  margin: -3vh;
  text-align: center;
  }